In [1]:
##### Análise dos dados do Twitter do CBVJ.

import numpy as np, scipy as sp, matplotlib.pyplot as plt, seaborn as sns, pandas as pd, sqlite3 as sql

DB_FILE_NAME = 'tweets.db'

In [2]:
# Conectar no DB

conn = sql.connect(DB_FILE_NAME)
data = pd.read_sql_query("SELECT * FROM parsed_tweets ORDER BY created DESC", conn)

In [3]:
# e confirmar que os dados foram corretamente lidos.
data.head()

,tweet_ID,date,time,type,place,neighbourhood,created
0,1538635449022955527,19/06,18h30,Queda de Moto,"Estrada Timbé, 13350",Jardim Paraíso,2022-06-19 21:30:52+00:00
1,1538630667663298560,19/06,18h07,Emergência Médica/PCR,Rua Amandus Jacob,Vila Nova,2022-06-19 21:11:52+00:00
2,1538613554848403456,19/06,17h05,Ônibus x Bicicleta,"Rua Prefeito Helmuth Fallgatter, 2905",Boa Vista,2022-06-19 20:03:52+00:00
3,1538607011524497411,19/06,16h38,Queda de Bicicleta,"Rua Adolfo Kluver, 384",Vila Nova,2022-06-19 19:37:52+00:00
4,1538596441798627334,19/06,15h52,Segurança,"Rua Da Independência, 141",Anita Garibaldi,2022-06-19 18:55:52+00:00

In [4]:
# Em quais bairros acontecem mais ocorrências?
data.groupby('neighbourhood').count()['tweet_ID'].sort_values(ascending=False)

neighbourhood
Vila Nova               431
Aventureiro             428
Iririú                  401
Boa Vista               395
América                 356
                       ...
Bairro: Aventureiro       3
Paranaguamirim.           1
Cubatão                   1
Cidade: Cuiabá            1
Zona Industrial Tupy      1
Name: tweet_ID, Length: 61, dtype: int64

In [5]:
# Quais as ocorrências mais comuns?

data.groupby('type').count()['tweet_ID'].sort_values(ascending=False)

type
Carro x Moto                          1444
Queda de Nível                        1061
Emergência Médica/Clínico              494
Queda de Moto                          420
Carro x Carro                          322
                                      ...
Capotamento                              1
Isolamento de Área                       1
Caminhão x Obstáculo Fixo/Cerca          1
Caminhão x Obstáculo Fixo/Canteiro       1
Carroça x Obstáculo Fixo/Muro            1
Name: tweet_ID, Length: 184, dtype: int64

In [38]:
# Quais as ocorrências mais comuns em cada bairro?

data.groupby(['neighbourhood','type'])['tweet_ID'].nlargest(1)

neighbourhood          type
Adhemar  Garcia        Caminhão x Moto                  1192    1521241587648503808
                       Captura de Animal/Cobra          850     1526210318963187713
                       Carro x Moto                     1237    1520378391630856195
                       Emergência Médica/Clínico        1252    1520096280005029889
                       Emergência Médica/PCR            2689    1498690602694815748
                                                                       ...
ZONA INDUSTRIAL NORTE  Queda de Nível                   1576    1514994080962555911
                       Queda de altura (&gt; 3 metros)  4380    1472631523555823632
                       Saída de Pista                   625     1529180500551782401
                       Segurança                        183     1535617525496664064
Zona Industrial Tupy   Queda de Bicicleta               3019    1493684525959892992
Name: tweet_ID, Length: 1977, dtype: int64