In [3]:
##### Análise dos dados do Twitter do CBVJ.

import numpy as np, scipy as sp, matplotlib.pyplot as plt, seaborn as sns, pandas as pd, sqlite3 as sql

DB_FILE_NAME = 'tweets.db'

In [6]:
# Conectar no DB

conn = sql.connect(DB_FILE_NAME)
data = pd.read_sql_query("SELECT * FROM parsed_tweets ORDER BY created DESC", conn)

In [7]:
# e confirmar que os dados foram corretamente lidos.
data.head()

,tweet_ID,date,time,type,place,neighbourhood,created
0,1454075729004699652,29/10,10h18,Queda de Nível,"Rua São Paulo, 1075",Bucarein,2021-10-29 13:20:43+00:00
1,1454069940307247112,29/10,09h40,Segurança,"Rua Angelo Pedro Moraes, 923",Jarivatuba,2021-10-29 12:57:43+00:00
2,1454053582718767107,29/10,08h46,Limpeza de Pista de Rolamento,"Rua Orestes Guimarães, 905",América,2021-10-29 11:52:43+00:00
3,1454028917837340681,29/10,07h10,Corte e/ou Poda de Árvore,"Rua Dos Marceneiros, 441",Paranaguamirim,2021-10-29 10:14:43+00:00
4,1454026905427062785,29/10,07h05,Captura de Animal/Tartaruga,"Rua Rolf Gern, 417",Petrópolis,2021-10-29 10:06:43+00:00